/* Header.css */
.header {
  display: flex;
}

.header-content {
  flex: 1;
  font-family: var(--font-family);
  font-style: normal;
  padding: 1rem;
  margin: 4rem 0;
  color: white;
}
.header-content > :not(:last-child) {
  margin-bottom: 2rem;
}
.header-content-title {
  font-size: 62px;
  font-weight: 800;
  letter-spacing: -2.48px;
}
.header-content-text {
  color: #81afdd;
  font-size: 20px;
  font-weight: 300;
  max-width: 80%;
}
.header-content-email {
  display: flex;
}
.header-content-email input {
  border-radius: 5px 0px 0px 5px;
  background: #052d56;
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  color: white;
  font-size: 18px;
}
.header-content-email input::placeholder {
  color: #3d6184;
  font-size: 18px;
  font-weight: 500;
}
.header-content-email button {
  border-radius: 0px 5px 5px 0px;
  background: #ff4820;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-transform: capitalize;
  border: none;
  outline: none;
  min-width: 192px;
}
.header-content-people {
  display: flex;
  align-items: center;
  justify-content: start;
}
.header-content-people img {
  width: 181.786px;
  height: 38px;
  margin-right: 1rem;
}

.header-image {
  flex: 1;
}
.header-image img {
  width: 100%;
}

/* media */
@media screen and (max-width: 1440px) {
  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header-content {
    max-width: 75%;
    margin: 3rem 0;
  }
  .header-content-title {
    font-size: 54px;
  }
  .header-content-text {
    max-width: 100%;
    font-size: 18px;
  }
  .header-content-email {
    max-width: 60%;
    margin: auto;
  }
  .header-content-email button {
    min-width: 128px;
  }
  .header-content-people {
    display: none;
  }
  .header-content-people img {
    margin: 0;
    margin-bottom: 1rem;
  }

  .header-image img {
    max-width: 75%;
  }
}
@media screen and (max-width: 1050px) {
  .header-content-email {
    min-width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .header-content {
    min-width: 100%;
    margin: 1rem 0;
  }
}
@media screen and (max-width: 500px) {
  .header-content-title {
    font-size: 44px;
  }
  .header-content-text {
    font-size: 16px;
  }
  .header-content-email {
    max-width: 100%;
  }
  .header-content-email button,
  .header-content-email input,
  .header-content-email input::placeholder {
    font-size: 14px;
    padding: 0.75rem;
  }
  .header-content-email button {
    width: 160px;
  }

  .header-image img {
    max-width: 100%;
  }
}
